.main-header{
    display: flex;
    justify-content: center;
}

.keyboard {
    /* position: fixed; */      
    width: 1124px;
    margin: 25px auto;
    background: #1f1d20;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 80px;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    transition: 2s;
}

.keyboard__key:active {
    background: rgba(187, 99, 58, 0.12);
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

.use-keyboard-input{
    display: flex;
    min-width: 70%;
    margin-left: auto;
    margin-right: auto;
    min-height:230px;
    height:100%
}


.spechial-button {
    background-color: brown;
    font-weight: 650;
}    

.active {
    background-color: #08ff00;
    transition: 1s;
}

.backspace-key{
    min-width: 167px;
}

.capslock-key{
    min-width: 167px;
}

.enter-key{
    min-width: 167px;
}